.container{
    max-height: 80vh;
    width: 95%;
    display: flex;
    margin: auto;
}

.columns{
    padding: 2vw; 
    max-height: 75vh;
    min-height: 75vh;
    width: 30%;
    margin: 0.2vw;
    background-color: #121212;
    border-radius: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
}



.columns::-webkit-scrollbar{
    visibility: hidden;
}

#column2{
    width: 50%;
    background-color: #212121;
}

.columnHeading{
max-width: 100%;

height: 10%;
}

.columnHeading button{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color:  #303030;
    color: white;
    margin-left: 26%;
   
}

.columnHeading button:hover,#playListBtn:hover{
    background-color:#373737 ;
}

.dropdownContainer{
    display: flex;
    justify-content: space-between;
}

#playListBtn{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color:  #303030;
    color: white;
    height: 2.3rem;
    padding: auto;
}

#sortIndicator{
    margin-top: 4%;
}

#dropdownlist{
    background-color: #282828;
}

#dropdownButton{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    text-decoration: none;
}
#viewasContainer{
    width: 90%;
    margin: auto;
    border-radius: 4%;
    background-color: #1F1F1F;
}

#liText{
    font-size: 0.8rem;
}
.playListCardContainer{
   
    border-radius: 10%;
    min-height: 10vh;
    max-height: 15vh;
}
.playListCard{
    display: flex;
    background-color: #1F1F1F;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    cursor: pointer;
   
}

.playListCard:hover{
    background-color: #373737;
}

.playlistImg{
    min-height:10vh;
    max-height:15vh;
    max-width: 12vh;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.cardText{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    font-size: small;
    justify-content: flex-end;
}