.artistDiv{
    width: 100%;
 background-image: linear-gradient(red,red,black);
    border-radius: 1%;
    color: black;
    border: 0px solid #ea9050 ;
    cursor: pointer;
}

.artistDiv div{
    /* background-image: linear-gradient( #ea9050,#e88f50,#E1925A,black); */
    background-color: transparent;
    border-color: none;
    color: white;
    
}
.albumImg{
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    margin: 5%;
    border-radius: 5%;
    background-image: linear-gradient(top, lightyellow,gray);
}

.trackTable{
    background-color: black;
    cursor: pointer;
}

.songImg{
    max-width: 10%;
    max-height: 10%;
}

tr{
    cursor: pointer;
}

.btnPlay{
    background-color: transparent;
    color: green;
    border: none;
    font-size: 1.5rem;
}

.btnPlay:hover{
    color: rgb(6, 201, 6);
}

/* add to liked btn */
.addBtn{
 background-color: transparent;
 border-radius: 50%;
 border: none;
 font-size: 100%;
 color: gray;
}

.addBtn:hover{
    color: rgb(168, 167, 167);
}

